<!DOCTYPE html>
<html lang="en">
  	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('assets/css/grid.css') }}" />
		    <link rel="stylesheet" href="{{ asset('assets/css/nav.css') }}" />
		    <link rel="stylesheet" href="{{ asset('assets/css/navside.css') }}" />
		    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" />
		{% endblock %}
        <title>{% block title %} AdminPanel {% endblock %}</title>
 	</head>
	<body>
		<nav>
			<div class="hamburger">
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
			</div>

			<ul class="nav-links">
				<li><a href="{{ path('admin') }}">Admin Panel</a></li>
				<li>
					<a href="#" class="dropdown" data-target="notifications"><i class="material-icons">notifications</i></a>
					<div class="dropdown-target" id="notifications">
						<div class="m-card horizontal">
							<div class="m-card-stacked">
								<div class="m-card-content">
								<p>I am a very simple card. I am good at containing small bits of information.</p>
								</div>
								<div class="m-card-action">
									<a href="#">This is a link</a>
								</div>
							</div>
						</div>

						<div class="m-card horizontal">
							<div class="m-card-stacked">
								<div class="m-card-content">
								<p>I am a very simple card. I am good at containing small bits of information.</p>
								</div>
								<div class="m-card-action">
									<a href="#">This is a link</a>
								</div>
							</div>
						</div>

						<div class="m-card horizontal">
							<div class="m-card-stacked">
								<div class="m-card-content">
								<p>Some notification, here.</p>
								</div>
								<div class="m-card-action">
									<a href="#">This is a link</a>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li><a href="{{ path('admin_viewers') }}">Vistors</a></li>
				<li><a href="{{ path('admin_user_index') }}">Users</a></li>
			</ul>
		</nav>

		<div class="navside">
			<ul class="navside-nav">
				<li class="logo">
					<a href="{{ path('admin') }}" class="navside-link">
					  <span class="link-text logo-text"></span>
					  <svg
						aria-hidden="true"
						focusable="false"
						data-prefix="fad"
						data-icon="angle-double-right"
						role="img"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 448 512"
						class="svg-inline--fa fa-angle-double-right fa-w-14 fa-5x"
					  >
						<g class="fa-group">
						  <path
							fill="currentColor"
							d="M224 273L88.37 409a23.78 23.78 0 0 1-33.8 0L32 386.36a23.94 23.94 0 0 1 0-33.89l96.13-96.37L32 159.73a23.94 23.94 0 0 1 0-33.89l22.44-22.79a23.78 23.78 0 0 1 33.8 0L223.88 239a23.94 23.94 0 0 1 .1 34z"
							class="fa-secondary"
						  ></path>
						  <path
							fill="currentColor"
							d="M415.89 273L280.34 409a23.77 23.77 0 0 1-33.79 0L224 386.26a23.94 23.94 0 0 1 0-33.89L320.11 256l-96-96.47a23.94 23.94 0 0 1 0-33.89l22.52-22.59a23.77 23.77 0 0 1 33.79 0L416 239a24 24 0 0 1-.11 34z"
							class="fa-primary"
						  ></path>
						</g>
					  </svg>
					</a>
				</li>
	
				<li class="navside-item">
					<a href="{{ path('admin_viewers') }}" class="navside-link">
						<svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
							<g class="fa-group">
								<path fill="currentColor" class="fa-secondary" d="m226 156.728 41.455-20.728-41.455-20.728z"/>
								<path fill="currentColor" class="fa-secondary" d="m497 0h-482c-8.291 0-15 6.709-15 15v241c0 8.291 6.709 15 15 15h482c8.291 0 15-6.709 15-15v-241c0-8.291-6.709-15-15-15zm-189.291 149.418-90 45c-4.735 2.351-10.25 2.04-14.59-.659-4.424-2.739-7.119-7.559-7.119-12.759v-90c0-5.2 2.695-10.02 7.119-12.759 4.409-2.754 9.932-2.959 14.59-.659l90 45c5.083 2.549 8.291 7.734 8.291 13.418s-3.208 10.869-8.291 13.418z"/>
								<circle fill="currentColor" class="fa-secondary" cx="106" cy="346" r="45"/>
								<circle fill="currentColor" class="fa-secondary" cx="256" cy="346" r="45"/>
								<path fill="currentColor" class="fa-secondary" d="m181 466v31c0 8.291 6.709 15 15 15h120c8.291 0 15-6.709 15-15v-31c0-41.353-33.647-75-75-75s-75 33.647-75 75z"/>
								<circle fill="currentColor" class="fa-secondary" cx="406" cy="346" r="45"/>
								<path fill="currentColor" class="fa-secondary" d="m361 466v31c0 5.284-1.082 10.285-2.763 15h107.763c8.291 0 15-6.709 15-15v-31c0-41.353-33.647-75-75-75-23.015 0-43.385 10.644-57.155 27.017 7.506 14.451 12.155 30.608 12.155 47.983z"/>
								<path fill="currentColor" class="fa-secondary" d="m31 466v31c0 8.291 6.709 15 15 15h107.763c-1.681-4.715-2.763-9.716-2.763-15v-31c0-17.375 4.649-33.532 12.155-47.983-13.77-16.373-34.14-27.017-57.155-27.017-41.353 0-75 33.647-75 75z"/>
							</g>
						</svg>
					  	<span class="link-text">Viewers</span>
					</a>
				</li>
	
				<li class="navside-item">
					<a href="{{ path('admin_user_index') }}" class="navside-link">
						<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve">
						<g>
							<g>
								<path fill="currentColor" class="fa-secondary" d="M438.09,273.32h-39.596c4.036,11.05,6.241,22.975,6.241,35.404v149.65c0,5.182-0.902,10.156-2.543,14.782h65.461
									c24.453,0,44.346-19.894,44.346-44.346v-81.581C512,306.476,478.844,273.32,438.09,273.32z"/>
							</g>
						</g>
						<g>
							<g>
								<path fill="currentColor" class="fa-secondary" d="M107.265,308.725c0-12.43,2.205-24.354,6.241-35.404H73.91c-40.754,0-73.91,33.156-73.91,73.91v81.581
									c0,24.452,19.893,44.346,44.346,44.346h65.462c-1.641-4.628-2.543-9.601-2.543-14.783V308.725z"/>
							</g>
						</g>
						<g>
							<g>
								<path fill="currentColor" class="fa-secondary" d="M301.261,234.815h-90.522c-40.754,0-73.91,33.156-73.91,73.91v149.65c0,8.163,6.618,14.782,14.782,14.782h208.778
									c8.164,0,14.782-6.618,14.782-14.782v-149.65C375.171,267.971,342.015,234.815,301.261,234.815z"/>
							</g>
						</g>
						<g>
							<g>
								<path fill="currentColor" class="fa-secondary" d="M256,38.84c-49.012,0-88.886,39.874-88.886,88.887c0,33.245,18.349,62.28,45.447,77.524
									c12.853,7.23,27.671,11.362,43.439,11.362c15.768,0,30.586-4.132,43.439-11.362c27.099-15.244,45.447-44.28,45.447-77.524
									C344.886,78.715,305.012,38.84,256,38.84z"/>
							</g>
						</g>
						<g>
							<g>
								<path fill="currentColor" class="fa-secondary" d="M99.918,121.689c-36.655,0-66.475,29.82-66.475,66.475c0,36.655,29.82,66.475,66.475,66.475
									c9.298,0,18.152-1.926,26.195-5.388c13.906-5.987,25.372-16.585,32.467-29.86c4.98-9.317,7.813-19.946,7.813-31.227
									C166.393,151.51,136.573,121.689,99.918,121.689z"/>
							</g>
						</g>
						<g>
							<g>
								<path fill="currentColor" class="fa-secondary" d="M412.082,121.689c-36.655,0-66.475,29.82-66.475,66.475c0,11.282,2.833,21.911,7.813,31.227
									c7.095,13.276,18.561,23.874,32.467,29.86c8.043,3.462,16.897,5.388,26.195,5.388c36.655,0,66.475-29.82,66.475-66.475
									C478.557,151.509,448.737,121.689,412.082,121.689z"/>
							</g>
						</g>
						
						</svg>
					  	<span class="link-text">Users</span>
					</a>
				</li>
			
				<li class="navside-item" id="themeButton">
					<a href="#" class="navside-link">
					  <svg
						class="theme-icon"
						id="lightIcon"
						aria-hidden="true"
						focusable="false"
						data-prefix="fad"
						data-icon="moon-stars"
						role="img"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 512 512"
						class="svg-inline--fa fa-moon-stars fa-w-16 fa-7x"
					  >
						<g class="fa-group">
						  <path
							fill="currentColor"
							d="M320 32L304 0l-16 32-32 16 32 16 16 32 16-32 32-16zm138.7 149.3L432 128l-26.7 53.3L352 208l53.3 26.7L432 288l26.7-53.3L512 208z"
							class="fa-secondary"
						  ></path>
						  <path
							fill="currentColor"
							d="M332.2 426.4c8.1-1.6 13.9 8 8.6 14.5a191.18 191.18 0 0 1-149 71.1C85.8 512 0 426 0 320c0-120 108.7-210.6 227-188.8 8.2 1.6 10.1 12.6 2.8 16.7a150.3 150.3 0 0 0-76.1 130.8c0 94 85.4 165.4 178.5 147.7z"
							class="fa-primary"
						  ></path>
						</g>
					  </svg>
					  <span class="link-text">Configuration</span>
					</a>
				</li>
			</ul>
		</div>

        <main>
            {% block body %}
            
            {% endblock %}
        </main>

        {% block javascripts %}
		    <script src="{{ asset('assets/js/nav.js') }}"></script>
			<script src="{{ asset('assets/js/dropdown.js') }}"></script>
        {% endblock %}
	</body>
</html>